# Koalas Hands-on Exercise

In [ ]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [ ]:
import numpy as np
import pandas as pd
import databricks.koalas as ks

### Basic functions

In [ ]:
pser = pd.Series([1, 3, 5, np.nan, 6, 8]) 

## Create a series of Koalas with [1, 3, 5, np.nan, 6, 8]

kser = ks.Series(pser)

## Convert pandas series ("pser") to Koalas dataframe with the name of "kser"

In [ ]:
## Sort kser by index

In [ ]:
pdf = pd.DataFrame({'A': np.random.rand(5),
                    'B': np.random.rand(5)})

## Generate a Koalas Dataframe with the pandas "pdf" and call it "kdf"

### Data visualization

In [ ]:
## Obtain the main statics of "kdf"

In [ ]:
## Sort "kdf" by column B

In [ ]:
## Transpose the data of "kdf"

### Selection

In [ ]:
## Select variables A and B from "Kdf"

In [ ]:
## Select rows 1 and 2 of "kdf"

In [ ]:
## Select rows 0, 1 and 2 of variable B

### Applying Python functions to Koalas

In [ ]:
## Apply the python function of np.cumsum to "kdf"

In [ ]:
## Square the values ​​of "kdf"

### Grouping data

In [ ]:
## Get the sum of values ​​by grouping by A and by B

### Generating graphics

In [ ]:
%matplotlib inline

In [ ]:
speed = [0.1, 17.5, 40, 48, 52, 69, 88]
lifespan = [2, 8, 70, 1.5, 25, 12, 28]
index = ['snail', 'pig', 'elephant',
         'rabbit', 'giraffe', 'coyote', 'horse']

kdf = ks.DataFrame({'speed': speed,
                   'lifespan': lifespan}, index=index)

## Generate a bar plot with "kdf" and matplotlib

In [ ]:
kdf = ks.DataFrame({
    'sales': [3, 2, 3, 9, 10, 6, 3],
    'signups': [5, 5, 6, 12, 14, 13, 9],
    'visits': [20, 42, 28, 62, 81, 50, 90],
}, index=pd.date_range(start='2019/08/15', end='2020/03/09',
                       freq='M'))

## Generate an area plot with "kdf" and matplotlib

### Using SQL in Koalas

In [ ]:
kdf = ks.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'pig': [20, 18, 489, 675, 1776],
                    'horse': [4, 25, 281, 600, 1900]})

In [ ]:
## With an SQL query select the data where pig is greater than 100

In [ ]:
pdf = pd.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'sheep': [22, 50, 121, 445, 791],
                    'chicken': [250, 326, 589, 1241, 2118]})

In [ ]:
## Do an inner join between "kdf" and "pdf" in the variable of "year", then 
## select variables of pig and  chicken
## sort data by pig and chicken

### Working with PySpark

In [ ]:
kdf = ks.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})

## Convert Koalas dataframe to Spark Dataframe
type(sdf)

pyspark.sql.dataframe.DataFrame

In [ ]:
## show the data